header.masthead {

  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("/static/img/portfolio/recherche/oups.jpg");
  background-position: center center;
  background-size: cover;
}
#msg{

   background-color:rgba(255, 200, 102);

}