


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Colette&Remi</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css%22%20rel%3D%22stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  
  <link href="/static/css/homehome1.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  
</head>

<body id="page-top">


 
<form action="/mes_aliments/recherche/" method="POST">
<div class="container-fluid" id="Menu-TOP">
    <div class="row" id="row1">

       <div class="col-md-7" id="block">
       
          <a href='/'>
            <img id="pur_beurre_logo" src="/static/img/portfolio/menu-haut/pur_beurre.png">
          </a>
          <a id="nom">Pur Beurre</a>

          
          <div id='nbsp'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Welcome back <strong>jeanba !</strong>
        </div>
        

          
       </div>
      
       <div class="col-md-5" id="block2">

           <div id="droiteMenuTop">
               
               <div style='text-align:center'>

                 <input id="inputrecherche" name="cool" type="text" placeholder="Chercher"/>
                 <input type="hidden" name="csrfmiddlewaretoken" value="0hxyQjjkTKru9INPBrOg79MpZcvYaIyAN0ysHcDcmJygYcqxAjZB9bBpKTp9CsF9">
                  &nbsp;&nbsp;
                 <input type="submit" id="soubmit">
                 <input type="hidden" name="csrfmiddlewaretoken" value="0hxyQjjkTKru9INPBrOg79MpZcvYaIyAN0ysHcDcmJygYcqxAjZB9bBpKTp9CsF9">
               </div>
               <br>
               
               
               <div style='text-align:center'>
               <a href='/accounts/mon_compte' OnMouseOver="document.all.texte.innerText='Mon compte !'">
                 <img id="compte" src="/static/img/portfolio/menu-haut/compte.png">
               </a>

               <a href='/mes_aliments/mes_aliments' OnMouseOver="document.all.texte.innerText='Mes Aliments !'">
                 <img style="width:15%; height:15%;" id="carotte" src="/static/img/portfolio/menu-haut/carotte.png"
               </a>

               <a href='/jeux/jeux' OnMouseOver="document.all.texte.innerText='Jouez !'">
                 <img id="carotte" src="/static/img/portfolio/menu-haut/game.png"
               </a>
                
              
                 <a href='#' OnMouseOver="document.all.texte.innerText='Aide !'">
                   <img style="width:12%; height:15%;" id="login" src="/static/img/portfolio/menu-haut/aide.png"
                 </a>
               
                 <a href='/accounts/logout_view' OnMouseOver="document.all.texte.innerText='Se deconnecter !'">
                   <img id="deco" src="/static/img/portfolio/menu-haut/deco.png">
                 </a>

               </div>
               

               

               <center><p id="texte"><br></p></center>

           </div>
       </div>
       
    </div>
    </div>
  </form>






<style>
  .titreUn{
    color: rgba(51, 51, 0);
    background-color: rgba(255, 153, 102);
  }
  </style>

  <header class="masthead text-center d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="titreUn">
            <strong>Deviens un AS de la bonne nourriture !</strong>
          </h1>
          <hr>
        </div>


        
        <div class="col-lg-8 mx-auto">
          <div class="text-faded mb-5" id="texteMilieu">
              <h2>Trouve le produit le plus sain parmi les autres</h2><br>
              <h2>Gagne l'icône Cuisinier-Modèle</h2><br>
              <h2>Et gagne des bons d'achat !</h2>
          </div>
      
    
            <form action="/jeux/jeux/" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="0hxyQjjkTKru9INPBrOg79MpZcvYaIyAN0ysHcDcmJygYcqxAjZB9bBpKTp9CsF9">
                <input type="hidden" id="hid">
                <input type="button" onclick="lvl1()" value="Niveau 1" name="niveau1" id="niveau1">
                <input type="button" onclick="lvl2()" value="Niveau 2" name="niveau2" id="niveau2">
            </form>
            
        </div>
      </div>
    </div>
    
  </header>



  


<div id="score">
</div>
  <section class="bg-primary" id="about">
    <center><p>Selon toi, lequel de ces articles a un nutriscore A</p></center>


    <div id="jeux">
    
                                                     
  

    </div>
          <br><br><br><br>
          <form action="/jeux/jeux/" methode='POST' id='validation'>
          <input type="hidden" name="csrfmiddlewaretoken" value="0hxyQjjkTKru9INPBrOg79MpZcvYaIyAN0ysHcDcmJygYcqxAjZB9bBpKTp9CsF9">
          <div id='cont1' style='display:none'>
            "<center><input type='button' value='valider' id='valider1' name='valider'></center>"
          </div>
          <div id='cont2' style='display:none'>
          "<center><input type='button' value='valider' id='valider2' name='valider'></center>"
          </div>
          </form>
          
        </div>
      </div>
    </div>
  </section>
 






  <section id="contact">
   
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
        
          <h2 class="section-heading">Contactez - nous !</h2>
          
          <hr class="my-4">
          
          <p class="mb-5" id="contactP">Un produit sain c'est bien ! Un produit merveilleux c'est encore MIEUX !</p>
          
        </div>
        
      </div>


      
      <div class="row">
      
        <div class="col-lg-4 ml-auto text-center">
        
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <img class="phone" id="phone" src="/static/img/portfolio/bas/phone.png">
          <p>123-456-6789</p>
          
        </div>

        
        <div class="col-lg-4 mr-auto text-center">
        
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          
          <img class="mail" id="mail" src="/static/img/portfolio/bas/mail.png">
          <p>
            <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
          </p>
        </div>


      </div>
    </div>
  </section>


    
  <hr color:black>
  <nav class="navbar navbar-expand-lg navbar-light fixed-bot" id="mainNav">
  
    <div class="container">

        <div class="mentions">
          <a class="compte_top_haut_droit" id="compte_top_haut_droit" href="/mention">Mentions légales</a>
        </div>

          
        <div class="contact">
          <a class="aliments_top_haut_droit" id="aliments_top_haut_droit" href="#">Contact</a>
        </div>

    
    </div>
    
  </nav>







  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/creative.min.js"></script>






</body>

</html>





<script>


    <!-- niveau 1 -->

    function choice1(){
      CHOICE = []
      var a = document.getElementById('image1niveau1').src
      CHOICE.push('image1')
      CHOICE.push(a)
      };
    
    function choice2(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image2niveau1').src
      CHOICE.push('image2')
      CHOICE.push(a)
   
      };

    function choice3(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image3niveau1').src
      CHOICE.push('image3')
      CHOICE.push(a)
  
      };

    function choice4(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image4niveau1').src
      CHOICE.push('image4')
      CHOICE.push(a)
     
      };



    <!-- niveau 2 -->


    function choice2_1(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image1niveau2').src
      CHOICE.push('image1')
      CHOICE.push(a)
      
      
      };
    function choice2_2(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image2niveau2').src
      CHOICE.push('image2')
      CHOICE.push(a)
   
      };

    function choice2_3(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image3niveau2').src
      CHOICE.push('image3')
      CHOICE.push(a)
  
      };

    function choice2_4(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image4niveau2').src
      CHOICE.push('image4')
      CHOICE.push(a)
     
      };

    function choice2_5(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image5niveau2').src
      CHOICE.push('image5')
      CHOICE.push(a)
      
      
      };
    function choice2_6(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image6niveau2').src
      CHOICE.push('image6')
      CHOICE.push(a)
   
      };

    function choice2_7(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image7niveau2').src
      CHOICE.push('image7')
      CHOICE.push(a)
  
      };

    function choice2_8(){
      CHOICE = []
      document.getElementById('score').innerHTML = ""
      var a = document.getElementById('image8niveau2').src
      CHOICE.push('image8')
      CHOICE.push(a)
     
      };



  <!-- niveau 3 -->






  <!-- variables -->


      
    var LISTE = ["a"];
    var IMAGE = [];
    var IMAGE2 = [];
    function lvl1(){

        document.getElementById("jeux").innerHTML = "<div class='col-xs-12-mx-auto text-center'>" +
                                                        "<div class='row' id='row3'>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px; margin-left:auto;'>" +
                                                                "<input type='image' src='' id='image1niveau1' onclick='choice1()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                            "<div style='width:20px;'></div>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px;'>" +
                                                                "<input type='image' src='' id='image2niveau1' onclick='choice2()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                            "<div style='width:20px;'></div>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px;'>" +
                                                                "<input type='image' src='' id='image3niveau1' onclick='choice3()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                            "<div style='width:20px;'></div>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px;margin-right:auto;'>" +
                                                                "<input type='image' src='' id='image4niveau1' onclick='choice4()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                        "</div>" +
                                                     "</div>"

        var a = document.getElementById("niveau1").value;
        console.log(a);
        LISTE.push(a)


       
        };


  <!-- niveau 2 -->


  
    function lvl2(){

        
        
     document.getElementById("jeux").innerHTML =  "<div class='col-xs-12-mx-auto text-center'>" +
                                                        "<div class='row' id='row3'>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px; margin-left:auto;'>" +
                                                                "<input type='image' src='' id='image1niveau2' onclick='choice2_1()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                            "<div style='width:20px;'></div>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px;'>" +
                                                                "<input type='image' src='' id='image2niveau2' onclick='choice2_2()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                            "<div style='width:20px;'></div>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px;'>" +
                                                                "<input type='image' src='' id='image3niveau2' onclick='choice2_3()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                            "<div style='width:20px;'></div>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px;margin-right:auto;'>" +
                                                                "<input type='image' src='' id='image4niveau2' onclick='choice2_4()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                        "</div>" +
                                                     "</div>" +
                                                    "<br>" +
                                                    "<div class='col-xs-12-mx-auto text-center'>" +
                                                        "<div class='row' id='row3'>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px; margin-left:auto;'>" +
                                                                "<input type='image' src='' id='image5niveau2' onclick='choice2_5()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                            "<div style='width:20px;'></div>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px;'>" +
                                                                "<input type='image' src='' id='image6niveau2' onclick='choice2_6()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                            "<div style='width:20px;'></div>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px;'>" +
                                                                "<input type='image' src='' id='image7niveau2' onclick='choice2_7()' style='width:250px; height:300px'>" +
                                                            "</div>" +
                                                            "<div style='width:20px;'></div>" +
                                                            "<div style='border:1px solid blue;width:250px; height:300px;margin-right:auto;'>" +
                                                                "<input type='image' src='' id='image8niveau2' onclick='choice2_8()' style='width:250px; height:300px;'>" +
                                                            "</div>" +
                                                        "</div>" +
                                                     "</div>"


        var a = document.getElementById("niveau2").value;
        console.log(a);
        LISTE.push(a)


        };




    $("#niveau1").on("click", function(e){
         e.preventDefault();
          document.getElementById('cont2').style.display = 'none';
          $.ajax({
              data:{
                  'data':LISTE[LISTE.length - 1],
                  csrfmiddlewaretoken:'{{ csrf_token }}'
                  
           
              },
              type:"POST",
              url:"/jeux/jeux/"
          })
          .done(function(data){
              if (data.error){
                  $("#monCadreAlert").text(data.error);
                  $("#is_save");
                  
                  
              }
              else{
                  $("#is_save").html(data);
                  $("#monCadreAlert");
                  IMAGE.push(JSON.stringify(data['image1']))
                  IMAGE.push(JSON.stringify(data['image2']))
                  IMAGE.push(JSON.stringify(data['image3']))
                  IMAGE.push(JSON.stringify(data['image4']))
  
                  var i = IMAGE[0]
                  var j = i.slice(1,i.length-1)
 
                  var k = IMAGE[1]
                  var l = k.slice(1,k.length-1)
                  
                  var m = IMAGE[2]
                  var n = m.slice(1,m.length-1)
                  
                  var o = IMAGE[3]
                  var p = o.slice(1,o.length-1)
                  
                  
                  document.getElementById('image1niveau1').src=j;
                  document.getElementById('image2niveau1').src=l;
                  document.getElementById('image3niveau1').src=n;
                  document.getElementById('image4niveau1').src=p;
                  document.getElementById('cont1').style.display ='block';

                  
              };
              
          });
    });



  
    $("#valider1").on("click", function(e){
         e.preventDefault();
       
         IMAGE = []
      
          $.ajax({
              data:{
                  'data':String(CHOICE),
                  'data1':'Niveau 1',
                  csrfmiddlewaretoken:'{{ csrf_token }}'
                  
           
              },
              type:"POST",
              url:"/jeux/jeux/"
          })
          .done(function(data){
              if (data.error){
                  $("#monCadreAlert").text(data.error);
                  $("#is_save");
                  
                  
              }
              else{
                  $("#is_save").html(data);
                  $("#monCadreAlert");
                
                  IMAGE.push(JSON.stringify(data['image1']))
                  IMAGE.push(JSON.stringify(data['image2']))
                  IMAGE.push(JSON.stringify(data['image3']))
                  IMAGE.push(JSON.stringify(data['image4']))
  
                  var i = IMAGE[0]
                  var j = i.slice(1,i.length-1)
                  
                  var k = IMAGE[1]
                  var l = k.slice(1,k.length-1)
                  
                  var m = IMAGE[2]
                  var n = m.slice(1,m.length-1)
                  
                  var o = IMAGE[3]
                  var p = o.slice(1,o.length-1)
                  

                  document.getElementById('image1niveau1').src=j;
                  document.getElementById('image2niveau1').src=l;
                  document.getElementById('image3niveau1').src=n;
                  document.getElementById('image4niveau1').src=p;
                  document.getElementById('score').innerHTML = String(JSON.stringify(data['message']))


              };
              
          });
    });





    $("#niveau2").on("click", function(e){
         e.preventDefault();
  
         document.getElementById('cont1').style.display = 'none';
          $.ajax({
              data:{
                  'data':LISTE[LISTE.length - 1],
                  csrfmiddlewaretoken:'{{ csrf_token }}'
                  
           
              },
              type:"POST",
              url:"/jeux/jeux/"
          })
          .done(function(data){
              if (data.error){
                  $("#monCadreAlert").text(data.error);
                  $("#is_save");
                  
                  
              }
              else{
                  $("#is_save").html(data);
                  $("#monCadreAlert");
             
                  
                  IMAGE2.push(JSON.stringify(data['image1']))
                  IMAGE2.push(JSON.stringify(data['image2']))
                  IMAGE2.push(JSON.stringify(data['image3']))
                  IMAGE2.push(JSON.stringify(data['image4']))
                  IMAGE2.push(JSON.stringify(data['image5']))
                  IMAGE2.push(JSON.stringify(data['image6']))
                  IMAGE2.push(JSON.stringify(data['image7']))
                  IMAGE2.push(JSON.stringify(data['image8']))
                  
              
                  
                  var i = IMAGE2[0]
                  var j = i.slice(1,i.length-1)
                  
                  var k = IMAGE2[1]
                  var l = k.slice(1,k.length-1)
                  
                  var m = IMAGE2[2]
                  var n = m.slice(1,m.length-1)
                  
                  var o = IMAGE2[3]
                  var p = o.slice(1,o.length-1)


                  var q = IMAGE2[4]
                  var r = p.slice(0,q.length-1)
               
                  
                  var s = IMAGE2[5]
                  var t = s.slice(1,s.length-1)
               
                  var u = IMAGE2[6]
                  var v = u.slice(1,u.length-1)
                
                  var w = IMAGE2[7]
                  var x = w.slice(1,w.length-1)
                  

                  
                  
                  document.getElementById('image1niveau2').src=j;
                  document.getElementById('image2niveau2').src=l;
                  document.getElementById('image3niveau2').src=n;
                  document.getElementById('image4niveau2').src=p;

                  document.getElementById('image5niveau2').src=r;
                  document.getElementById('image6niveau2').src=t;
                  document.getElementById('image7niveau2').src=v;
                  document.getElementById('image8niveau2').src=x;


                  document.getElementById('cont2').style.display ='block';
                  
                  
              };
              
          });
    });


    <!-- niveau 2  validate-->

    $("#cont2").on("click", function(e){
    
         e.preventDefault();
         
         IMAGE2 = []
      
          $.ajax({
              data:{
                  'data':String(CHOICE),
                  'data1':'Niveau 2',
                  csrfmiddlewaretoken:'{{ csrf_token }}'
                  
           
              },
              type:"POST",
              url:"/jeux/jeux/"
          })
          .done(function(data){
              if (data.error){
                  $("#monCadreAlert").text(data.error);
                  $("#is_save");
                  
                  
              }
              else{
                  $("#is_save").html(data);
                  $("#monCadreAlert");

                  IMAGE2.push(JSON.stringify(data['image1']))
                  IMAGE2.push(JSON.stringify(data['image2']))
                  IMAGE2.push(JSON.stringify(data['image3']))
                  IMAGE2.push(JSON.stringify(data['image4']))

                  IMAGE2.push(JSON.stringify(data['image5']))
                  IMAGE2.push(JSON.stringify(data['image6']))
                  IMAGE2.push(JSON.stringify(data['image7']))
                  IMAGE2.push(JSON.stringify(data['image8']))

                  
                  var i = IMAGE2[0]
                  var j = i.slice(1,i.length-1)
                  
                  var k = IMAGE2[1]
                  var l = k.slice(1,k.length-1)
                  
                  var m = IMAGE2[2]
                  var n = m.slice(1,m.length-1)
                  
                  var o = IMAGE2[3]
                  var p = o.slice(1,o.length-1)
                  

                  var q = IMAGE2[4]
                  var r = q.slice(1,q.length-1)
                  
                  var s = IMAGE2[5]
                  var t = s.slice(1,s.length-1)
                  
                  var u = IMAGE2[6]
                  var v = u.slice(1,u.length-1)
                  
                  var w = IMAGE2[7]
                  var x = w.slice(1,w.length-1)


                  document.getElementById('image1niveau2').src=j;
                  document.getElementById('image2niveau2').src=l;
                  document.getElementById('image3niveau2').src=n;
                  document.getElementById('image4niveau2').src=p;
                  
                  document.getElementById('image5niveau2').src=r;
                  document.getElementById('image6niveau2').src=t;
                  document.getElementById('image7niveau2').src=v;
                  document.getElementById('image8niveau2').src=x;
                  
                  document.getElementById('score').innerHTML = String(JSON.stringify(data['message']))


              };
              
          });
    });


             
</script>






































