{% include "navbarre.html" %}

{% block content %}
{% endblock %}



  <header class="masthead text-center d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="titreUn" style='font-size:3vw;'>
            <strong>Mentions Légales</strong>
          </h1>
          <hr>
        </div>
        </div>
      </div>
    </div>
     </div>
  </header>


    <section class="bg-primary" id="about">
      <div class = row>
      <div class="col-xs-6 col-md-6 col-lg-6" style="margin-left;">
        En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004
        pour la confiance dans l’économie numérique,
        il est précisé aux utilisateurs du site http://www.colette-et-rems.com
        l’identité des différents intervenants dans
        le cadre de sa réalisation et de son suivi :

        <div style='margin-left'>
        
              <strong><li>Grégoire Cresnar</li></strong>
              <strong><li>Rakf Schmitzer</li></strong>
              <strong><li>Treize grammes</li></strong>
              <strong><li>thiery da</li></strong>
              <strong><li>ProSymbols</li></strong>
              <strong><li>ProjecThayat</li></strong>
              <strong><li>kniels</li></strong>
              <strong><li>Made</li></strong>
              <strong><li>Viktor Vorobyev</li></strong>
              <strong><li>Rajesh</li></strong>
              <strong><li>MickaelDB</li></strong>
        
        </div><br>

              <strong><li>Propriétaire : jb</li></strong>
              <strong><li>Créateur : jb</li></strong>
              <strong><li>Webmaster : jb jb26400@hotmail.fr</li></strong>
              <strong><li>Tél. +33 (0)2 41 66 83 38</li></strong>
              <strong><li>Adresse : Péniche Atmosphère – quai des carmes – 49000 Angers FR</li></strong>
              <strong><li>SIREN : 392 638 557</li></strong>
              <strong><li>TVA intracommunautaire : FR 63392638557</li></strong>


      </div>
      
    
      <div class="col-xs-6 col-md-6 col-lg-6" style="margin-right;">
    
        <center><strong>Bootstrap</strong>: https://blackrockdigital.github.io/startbootstrap-creative/
      </center><br>
        <center><strong>Noun project:</strong> https://thenounproject.com/</center><br>
           
          <center><strong>Base de donnée:</strong> OpenFactFood https://fr.openfoodfacts.org/</center>
        </p>
        <br><br>
      <center><strong>Hébergement du site</strong></center><br>
      L’hébergement du site est assuré par :

      OVH

      2 rue Kellermann
      59100 Roubaix
      France
      </div>


     </section>


   
{% include "bottom_page.html" %}

{% block content2 %}
{% endblock content2%}
